// ==== general styles ====
$nav-item-bg: black;
$color-pink: #e40046;
$weight-800: 800;

.bg-black {
    background-color: black;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin link-style {
    & {
        color: #FFFFFF !important;
        cursor: pointer !important;
    }

    &:hover {
        text-decoration-line: underline !important;
    }
}

a {
    color: black;
    text-decoration: none !important;

    &:hover {
        color: black;
    }
}

.brand-brawels {
    width: 240;
}

.nav-authentication {
    font-size: 11px;
    font-weight: $weight-800;

    a {
        @include link-style
    }
}

.jumbotron {
    background-image: url('./assets/UI_img/Jumbotron_Image.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 28rem;

    h1 {
        color: white !important;
    }

    a {
        @include link-style;
    }
}

.page-wrapper {
    width: 100%;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.left-column {
    background: #FFF;
    box-shadow: 2px 2px 2px -2px grey;
}

// ==== side bar ====
.side-menu-wrapper {
    width: 200px;
    min-height: 100vh;
    background: #FFF;
    color: #fff;
    position: fixed;
    margin-left: -200px;
    box-shadow: 2px 2px 2px -2px gray;
    transition: all 0.3s;
    z-index: 2050;

    .navbar-brand {
        color: #FFFFFF !important;
    }

    .nav-link {
        color: #a0a0a0 !important;
        font-size: 17px;
    }
}

.side-menu-wrapper.show {
    margin-left: 0px;
}

@media (min-width: 768px) {
    .side-menu-wrapper {
        margin-left: -200px;
    }

    .side-menu-wrapper.show {
        margin-left: -200px;
    }
}

// ==== navigation bar ===
.navbar {
    background: #FFFFFF !important;
}

.navbar-brand {
    color: black !important;
    font-weight: 700;
    font-size: 26px;
}

.nav-link {
    color: black !important;
    font-size: 17px;
}

.nav .nav-item .nav-link.active {
    background-color: $nav-item-bg;
    color: #FFFFFF !important;
}

// === left column === 
.left-column-layout {
    background: #FFF;
    box-shadow: 0px 0px 1px 0px grey;

    h5 {
        color: black;
    }

    .discount {
        color: red!important;
        font-size: 17px;
    }
}

.home-products-title {
    letter-spacing: 2px;
}

// === shop item ===
.shop-card {
    padding-bottom: 3rem;
    
    .shop-media {
        @include flex-center;

        img{
            width: 90%;
            height: auto
        }

        .sale-badge {
            color: gray!important;
            font-weight: 700;
        }
    }

    .shop-body {

        .product-name {
            @include flex-center;

        }

        .product-category {
            @include flex-center;
            font-weight: $weight-800;
            color: black;
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .product-price {
            @include flex-center;
            color: black;
            font-size: 1.1rem;
        }
    }
}

// === Parallax ===
.parallax {
    background-image: url('./assets/UI_img/parallax_image.jpg');
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    a {
        @include link-style;
    }
}

// === Footer === 
footer {
    hr {
        border-top: 0.1px solid black;
    }

    ul {
        text-transform: uppercase; 
        letter-spacing: 1px; 
        font-size: 0.8em;

        li {
            margin: 0 0 10px 0;
        }
    }
}